@import "./variables";

@import "../node_modules/bootstrap/scss/bootstrap.scss";

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

* {
  outline: 1px red solid;
}

body {
  overflow-x: hidden !important;
}

.active {
  color: $primary !important;
}

.nav-item {
  padding-left: 30px;

  :hover {
    color: $primary !important;
  }
}

.font-reg {
  font-family: $font-reg;
}

.font-med {
  font-family: $font-med;
}

.font-semi-bold {
  font-family: $font-semi-bold;
}

.font-bold {
  font-family: $font-bold;
}

.icon {
  filter: invert(39%) sepia(5%) saturate(19%) hue-rotate(32deg) brightness(98%)
    contrast(89%);
}

.icon-light {
  filter: invert(100%) sepia(0%) saturate(4993%) hue-rotate(86deg)
    brightness(124%) contrast(98%);
}

.icon-primary {
  filter: invert(73%) sepia(79%) saturate(311%) hue-rotate(349deg)
    brightness(96%) contrast(94%);
}

.btn {
  font-family: $font-semi-bold;
  padding: 10px 25px;
}

.brand {
  filter: invert(43%) sepia(8%) saturate(19%) hue-rotate(2deg) brightness(90%)
    contrast(87%);
}

hr {
  border-top: 3px solid $dark-gray;
}

input::placeholder {
  color: $dark-gray;
  font-weight: 500;
}

textarea {
  resize: none;

  &::placeholder {
    color: $dark-gray;
    font-weight: 500;
  }
}

@media only screen and (max-width: 992px) {
  #nav-menu {
    visibility: hidden;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    top: 0;
    right: -50%;
    padding-top: 10px;
    background-color: $light;
    z-index: 900;
    transition: right ease-in-out 0.5s, visibility 1s;
  }
}
